
/* .nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body{
    font-family: "Nunito", sans-serif;
}

.t-color-title{
    color: rgb(211, 67, 112);
}